/*variables*/
/*end of variables*/
/*mixins*/
/*end of mixins*/
html, body {
  font-family: 'Roboto Slab', sans-serif;
  font-size: 1em; }

ul, li {
  list-style-type: none;
  padding: 0;
  margin-bottom: 0; }

/*bootstrap overwriting*/
/*end of bootstrap overwriting*/
.row {
  margin: 0; }

/*login section*/
.login {
  width: 100%;
  min-height: 100vh;
  background-image: url("../img/login-background.jpg");
  background-size: cover;
  background-image: no-repeat;
  padding: 90px 0 60px 0;
  display: flex;
  justify-content: center; }
  .login-title {
    margin: 50px 0 50px 0;
    text-align: center;
    color: white;
    font-size: 40px;
    text-transform: uppercase; }
  .login-form {
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 400px; }
    .login-form-icon {
      font-size: 35px;
      color: white;
      display: inline-block;
      position: relative;
      width: 50px;
      top: 16px;
      left: 20px;
      z-index: 9999999; }
      .login-form-icon-remove {
        float: right;
        left: 3px;
        top: -80px;
        font-size: 20px;
        color: transparent;
        width: 30px;
        height: 100%; }
    .login-form-text, .login-form-password {
      width: 350px;
      height: 51px;
      background: none;
      padding: 0 0 0 55px;
      border: none;
      display: block;
      margin: 0 auto 0 10px;
      position: relative;
      top: -30px;
      color: white; }
    .login-form:focus {
      outline: transparent;
      background: #1b2a3e;
      /* Old browsers */
      background: -webkit-linear-gradient(left, #1b2a3e 14%, #6d5e5e 51%, #8d7e7e 89%);
      background: -o-linear-gradient(left, #1b2a3e 14%, #6d5e5e 51%, #8d7e7e 89%);
      background: linear-gradient(to right, #1b2a3e 14%, #6d5e5e 51%, #8d7e7e 89%); }
    .login-form-links {
      display: flex;
      justify-content: center;
      margin-bottom: 30px; }
      .login-form-links > a {
        color: white; }
  .login-form-button {
    height: 70px;
    background: none;
    border: 2px solid white;
    font-size: 24px;
    color: white; }

.input-label-one, .input-label-two {
  height: 70px !important;
  margin-bottom: 30px;
  border-bottom: 1px solid white; }

.checkbox-label {
  height: 30px !important;
  color: white; }
  .checkbox-label-one {
    margin-top: 20px !important; }
  .checkbox-label-two {
    margin-bottom: 70px !important; }

/*end of login section*/
/*feature section*/
.features {
  margin: 0 1px 0 1px;
  padding: 90px 0 60px 0; }

.feature {
  margin: 20px 0 30px 0; }
  .feature-icon {
    display: inline-block;
    width: 100%;
    text-align: center;
    margin: 0 0 15px 0;
    font-size: 50px;
    color: #1b2a3e;
    transition: color .5s linear; }
    .feature-icon:hover {
      color: #6d5e5e;
      transition: color .5s linear; }
  .feature-title {
    display: inline-block;
    width: 100%;
    text-align: center;
    font-size: 24px;
    margin: 0 0 5px 0;
    text-transform: capitalize; }
  .feature-description {
    display: inline-block;
    width: 100%;
    text-align: center;
    font-size: 16px;
    margin: 0 0 15px 0; }

/*end of feature section*/
/*screens section*/
.screens {
  -webkit-box-shadow: 0px 0px 2px 2px #1b2a3e;
  -moz-box-shadow: 0px 0px 2px 2px #1b2a3e;
  box-shadow: 0px 0px 2px 2px #1b2a3e;
  padding: 90px 0 60px 0; }
  .screens > .row {
    margin-bottom: 40px; }
  @media (min-width: 0) and (max-width: 1100px) {
    .screens-description {
      margin-bottom: 30px; } }
  .screens-description-title {
    margin: 50px 0 5px 0;
    font-weight: bold; }
    @media (min-width: 0) and (max-width: 1199px) {
      .screens-description-title {
        text-align: center; } }
  .screens-description-paragraph, .screens-description-list {
    margin: 0 0 20px 0;
    padding: 5px; }
    @media (min-width: 0) and (max-width: 1199px) {
      .screens-description-paragraph, .screens-description-list {
        width: 100%; } }
  .screens-description-list {
    padding: 0;
    height: 50px; }
    .screens-description-list-arrow {
      color: #6d5e5e; }
  .screens-screen {
    padding: 0; }
    @media (min-width: 0) and (max-width: 1199px) {
      .screens-screen {
        display: block;
        margin: 0 auto; } }
    .screens-screen > img {
      width: 90%; }
      @media (min-width: 0) and (max-width: 1199px) {
        .screens-screen > img {
          display: block;
          margin: 0 auto; } }

.screens-flex-left {
  display: flex;
  flex-wrap: wrap; }

@media (min-width: 0) and (max-width: 1199px) {
  .screens-flex-order {
    order: 1; } }

/*end of screens section*/
/*section:payment*/
.payment {
  padding: 90px 0 60px 0; }
  .payment-title, .payment-paragraph, .opinions-title, .opinions-paragraph, .tutorial-title, .why-title {
    width: 100%;
    text-align: center;
    margin: 0 0 20px 0; }
  .payment-paragraph {
    margin: 0 0 50px 0; }
    .payment-paragraph:after {
      content: " ";
      width: 100px;
      border-bottom: 1px solid #1b2a3e;
      display: block;
      margin: 30px auto auto auto; }
  .payment-type {
    margin: 0 0 30px 0; }
    @media (min-width: 0) and (max-width: 992px) {
      .payment-type {
        width: 80%;
        display: block;
        margin: 0 auto 30px auto; } }
    .payment-type ul > li {
      padding: 0;
      border-bottom: 1px solid #6d5e5e;
      border-left: 1px solid #6d5e5e;
      border-right: 1px solid #6d5e5e;
      text-align: center;
      line-height: 50px; }
  .payment-cost {
    width: 100%;
    height: 160px;
    background-color: #1b2a3e; }
    .payment-cost-title {
      color: white;
      font-size: 50px;
      text-transform: uppercase;
      margin: 0;
      text-align: center;
      padding: 25px 0 15px 0; }
    .payment-cost-description {
      display: inline-block;
      width: 100%;
      text-align: center;
      text-transform: capitalize;
      color: white;
      margin: 0;
      font-size: 24px;
      font-weight: 300; }
  .payment-currency, .payment-period {
    font-size: 16px;
    font-weight: 300; }
  .payment-holder {
    height: 100px;
    background-color: #1b2a3e; }
    .payment-holder-button {
      display: block;
      margin: 0 auto;
      position: relative;
      top: 25%;
      width: 50%;
      height: 50px;
      border: 1px solid black;
      background: white;
      text-transform: uppercase; }

/*end of section:payment*/
/*section:opinions*/
.opinions {
  background-color: #1b2a3e;
  padding: 90px 0 60px 0; }
  .opinions-title, .opinions-paragraph {
    color: white; }
  .opinions-paragraph {
    color: white; }
    .opinions-paragraph:after {
      content: " ";
      width: 100px;
      border-bottom: 1px solid #ffffff;
      display: block;
      margin: 30px auto auto auto; }
  .opinions-holder {
    background-color: white;
    padding: 30px 20px 10px 20px;
    margin: 0 0 30px 0; }
    .opinions-holder:after {
      content: " ";
      width: 0;
      height: 0;
      border-left: 20px solid transparent;
      border-right: 20px solid transparent;
      border-top: 20px solid #ffffff;
      position: relative;
      bottom: -50px;
      left: -5px; }
    .opinions-holder-paragraph {
      min-height: 100px; }
  .opinions-name {
    height: 75px;
    margin: 0 0 20px 0;
    display: flex; }
  .opinions-name-photo {
    width: 70px; }
    .opinions-name-photo > img {
      border-radius: 50%;
      width: 60px;
      height: 60px;
      margin-left: 7px; }
  .opinions-name-header {
    display: inline-block;
    width: 200px;
    margin: 15px 0 8px 15px;
    color: white;
    font-size: 21px;
    font-weight: bold; }
  .opinions-name-paragraph {
    display: inline-block;
    width: 200px;
    margin: 0 0 0 15px;
    color: white;
    font-size: 14px;
    font-weight: 300; }

/*end of section: opinions*/
/*section:tutorial*/
.tutorial {
  padding: 90px 0 60px 0; }
  .tutorial-paragraph {
    width: 100%;
    text-align: center;
    margin: 0 0 20px 0; }
    .tutorial-paragraph:after {
      content: " ";
      width: 100px;
      border-bottom: 1px solid #1b2a3e;
      display: block;
      margin: 30px auto auto auto; }
  .tutorial-box-title {
    margin: 20px 0 10px 0; }
  .tutorial-box-paragraph {
    font-size: 14px;
    line-height: 26px;
    margin: 0 0 20px 0; }
  .tutorial-box-number {
    display: block;
    height: 90px;
    position: absolute;
    left: 10px;
    bottom: 30px;
    font-size: 90px;
    opacity: 0.1;
    color: #1b2a3e; }

/*end of section: tutorial*/
/*section:why*/
.why {
  background-image: url("http://bootstraplovers.com/bootstrap4/saas2.0/html/assets/images/bg2.jpg");
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 8% 120px 8%;
  color: white; }
  .why-title {
    font-size: 35px; }
  .why-paragraph {
    width: 100%;
    text-align: center;
    margin: 0 0 20px 0; }
    .why-paragraph:after {
      content: " ";
      width: 100px;
      border-bottom: 1px solid #ffffff;
      display: block;
      margin: 30px auto auto auto; }
  .why-item {
    margin: 0 0 50px 0; }
  .why-icon {
    display: block;
    float: left;
    font-size: 50px; }
  .why-holder-title {
    margin: 0 0 15px 0;
    padding-left: 90px; }
  .why-holder-paragraph {
    padding-left: 90px;
    font-size: 14px;
    font-weight: 300; }

/*end of section: why*/
/*section:contact*/
.contact {
  padding: 100px 8% 120px 8%; }

/*end of section:contact*/

/*# sourceMappingURL=style.css.map */
