/*section:contact*/
#contact{
	background-color:#333333;
}
.contact{
	padding:10px;

	ul{
		margin:50px 0 0 0;
	}
	
	ul, li, a{
		text-align: center;
	}
		
	&-form{
		display:flex;
		justify-content: center;
		align-content: center;
		text-align: center;
		&-holder{
			width:340px;
			display: flex;
			flex-direction: column;
			
		}
		&-title{
		color:white;
		font-size:21px;
		text-align:left;
		font-weight:300;
		margin:0 0 10px 10px;
		}
		&-input{
			padding:8px 12px;
			width:270px;
			display:block;
			margin:0 auto 20px 10px;
		}
		&-button{
			margin:0 0 20px 10px;
			width:135px;
			padding:12px 24px;
			text-transform: lowercase;
			background:#4aa3df;
			border:2px solid $main-blue;
			color:white;
			&:hover{
				border:2px solid #4aa3df;
				background:transparent;
				color:#4aa3df;
				transition:all .3s ease;
			}
		}
		&-copyright{
			color:white;
			font-size:12px;
			text-align: left;
			margin:0 0 0 10px;
		}
	}
	&-socials{
		display:flex;
		margin:20px 0 25px 5px;
		&-icon{
			color:white;
			font-size:22px;
			padding-right:5px;
			transition:all .3s ease;
			&:hover{
				color:$main-blue;
			}
		}
}
}
/*end of section:contact*/