/*feature section*/
.features{
	margin: 0 1px 0 1px;
	@include section-padding;
}
.feature{
	margin: 20px 0 30px 0;
	
	&-icon{
		@include inliner;
		margin: 0 0 15px 0;
		font-size: 50px;
		color: #1b2a3e;
		transition: color .5s linear;
		&:hover{
			color: #6d5e5e;
			transition: color .5s linear;
		}
	}
	&-title{
		@include inliner;
		font-size:24px;
		margin: 0 0 5px 0;
		text-transform: capitalize;
	}
	&-description{
		@include inliner;
		font-size: 16px;
		margin:0 0 15px 0;
	}
}
/*end of feature section*/