/*feature section*/
.features{
	@include section-padding;
}
.feature{
	margin: 20px 0 30px 0;
	
	&-icon{
		@include inliner;
		margin: 0 0 15px 0;
		font-size: 50px;
		color:$dark-blue;
		transition: color .3s ease;
		&:hover{
			color:$main-blue;
		}
	}
	&-title{
		@include inliner;
		font-size:24px;
		margin: 0 0 5px 0;
		text-transform: capitalize;
		color:$fcolor-white-background;
	}
	&-description{
		@include inliner;
		font-size: 16px;
		margin:0 0 15px 0;
		color:$fcolor-white-background;
	}
}
/*end of feature section*/