.show{
	opacity:1;
}
.hide{
	display:none;
}
.navigation-js{
	padding:0 !important;
	background-color:white !important;
}
.li-js{
	color:darkgrey !important;	
	background-color:inherit;
	transition:none !important;
}
.filler-black{
	fill: black !important;
	transition:fill .5s ease;
	
}
