.show{
	opacity:1;
}
.hide{
	display:none;
}
.navigation-js{
	padding:0 !important;
	background-color:white !important;
	-webkit-box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.1);
   -moz-box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.1);
   -ms-box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.1);
   box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.1); 
}
.li-js{
	color:$fcolor-white-background !important;	
	background-color:inherit;
	transition:none !important;
}
