/*login section*/
.login{
	width: 100%;
	min-height: 100vh;
	background-image: url('../img/login-background.jpg');
	background-size: cover;
	background-image: no-repeat;
	@include section-padding;
	display:flex;
	justify-content:center;
	&-title{
		margin:50px 0 50px 0;
		text-align: center;
		color:white;
		font-size:40px;
		text-transform: uppercase;
	}
	&-form{
		display:flex;
		flex-direction: column;
		align-content: center;
		width:400px;
		
		&-icon{
			font-size:35px;
			color:white;
			display:inline-block;
			position:relative;
			width:50px;
			top:16px;
			left:20px;
			z-index:9;
			&-remove{
				&-first,&-second{
				float:right;
				left:0;
				top:-65px;
				font-size:20px;
				color:white;
				opacity:0;
				width:30px;
				height:100%;
					transition:all 1s ease;
				}
			}
		}
		&-text,&-password{
			width:350px;
			height:51px;
			background:none;
			padding:0 0 0 55px;
			border:none;
			display:block;
			margin:0 auto 0 10px;
			position:relative;
			top:-30px;
			color:white;
			opacity:1;
				&:active,&:focus{
				background-image:url('../img/input-background.jpg');
				background-size:cover;
				background-repeat:no-repeat;
				outline:transparent;
				opacity:.9;
				transition:opacity 1s ease;
				}
		}
		

	&-links{
			display:flex;
			justify-content: center;
			margin-bottom: 30px;
			>a{
				color:white;
			}
	}	
	}
		
	
	&-form-button{
		height:70px;
		background:none;
		border:2px solid white;
		font-size:24px;
		color:white;
	}
}


.input-label-one,.input-label-two{
	height:70px !important;
	margin-bottom:30px;
	border-bottom:1px solid white;
}

.checkbox-label{
	height:30px !important;
	color:white;
	&-one{
		margin-top:20px !important;
	}
	&-two{
		margin-bottom:70px !important;
	}

}
.show{
	opacity:1;
}
.hide{
	display:none;
}

/*end of login section*/