/*section:media-queries*/
@media (min-width:0) and (max-width:500px){
	.payment-type{
		width:100%;
	}
	#free-account-button{
		margin: 0 15% 0 15% !important;
	}
}
@media (min-width:0) and (max-width:423px){
	.login{
		&-form{
			width:auto;
			&-button{
				width:320px;
				margin:0 auto;
			}
		}
	}
	svg{
		left:-40px;
		width:250px;
		>rect{
			width:100px;
		}
	}
	.input-label-one,.input-label-two,{
		max-width:320px;
		
	}
	.login-form-text,.login-form-password{
		max-width:85%;
	}
}
@media (min-width:0) and (max-width:343px){
	.input-label-one,.input-label-two,{
		max-width:280px;
		
	}
	.login-form-text,.login-form-password{
		max-width:85%;
	}
	.login-form-button{
		width:280px;
	}
}
@media (max-width:992px){
	.contact{
		&-socials{
			margin-bottom:30px;
			
		}
		&-form{
			&-input{
				margin:0 auto 20px auto;
			}
			&-button{
				margin:0 auto 30px auto;
			}
		}
	}
}
@media (max-width: 1200px) {
  .navbar-header {
      float: none;
  }
  .navbar-left,.navbar-right {
      float: none !important;
  }
  .navbar-toggle {
      display: block;
  }
  .navbar-collapse {
      border-top: none;
 		height:auto;
  }
  .navbar-fixed-top {
      top: 0;
      border-width: 0;
	  	height:auto;
  }
  .navbar-collapse.collapse {
      display: none!important;
  }
	.navbar-collapse.in{
		overflow-y: visible !important;
	}
  .navbar-nav {
      float: none!important;
      margin-top: 0;
  }
  .navbar-nav>li {
      float: none;
  }
  .navbar-nav>li>a {
      padding-top: 10px;
      padding-bottom: 10px;
	  color:darkgrey !important;
  }
  .collapse.in{
      display:block !important;
  }

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: transparent;
    box-shadow: none;
}
	#navbar-main{
	margin-top:8px;	
}
	.nav{
		background-color:white;
	}
	#free-account-button{
		color:white !important;
		margin: 0 25% 0 25%;
		&:hover{
			color:#4aa3df;
		}
	}
}
/*end of mediaqueries*/