/*section:media-queries*/
@media (min-width:0) and (max-width:500px){
	.payment-type{
		width:100%;
	}
	#free-account-button{
		margin: 0 15% 0 15% !important;
	}
}
@media (min-width:0) and (max-width:423px){
	.login{
		&-form{
			width:auto;
			&-button{
				width:320px;
				margin:0 auto;
			}
		}
	}
}

@media (min-width:0) and (max-width:343px){
	.login-form-button{
		width:280px;
	}
}
@media (max-width:992px){
	.contact{
		ul{
			margin:20px 0 30px 0;
		}
		&-socials{
			margin-bottom:10px;
			justify-content: space-between;
			
		}
		&-form{
			&-input{
				margin:0 auto 20px auto;
			}
			&-button{
				margin:0 auto 30px auto;
			}
		}
	}
}
@media (max-width: 1200px) {
  .navbar-header {
      float: none;
  }
  .navbar-left,.navbar-right {
      float: none !important;
  }
  .navbar-toggle {
      display: block;
  }
  .navbar-collapse {
      border-top: none;
 		height:auto;
  }
  .navbar-fixed-top {
      top: 0;
      border-width: 0;
	  	height:auto;
  }
  .navbar-collapse.collapse {
      display: none!important;
  }
	.navbar-collapse.in{
		overflow-y: visible !important;
	}
  .navbar-nav {
      float: none!important;
      margin-top: 0;
  }
  .navbar-nav>li {
      float: none;
  }
  .navbar-nav>li>a {
      padding-top: 10px;
      padding-bottom: 10px;
	  color:$fcolor-white-background !important;
  }
  .collapse.in{
      display:block !important;
  }

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: transparent;
    box-shadow: none;
}
	#navbar-main{
	margin-top:8px;	
}
	.nav{
		background-color:white;
	}
	#free-account-button{
		color:white !important;
		margin: 0 25% 0 25%;
		transition: all .3s ease !important;
		&:hover{
			color:#4aa3df !important;
		}
	}
}
/*end of mediaqueries*/