/*section:navigation*/
.navigation{
	padding:10px 0 10px 0;
	margin:0 !important;
	max-height: 80px;
	z-index: 99;
	transition:padding .3s ease;
	&-ul>li>a{
		color:white;
		padding:10px 10px;
		transition:all .5s ease;
		text-transform: capitalize;
		text-align: center;
		&:hover,&:active,&:focus{
			background:inherit !important;
			
		}
	}

}


.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color:inherit;
    background-color:#f6f6f6;
	 opacity:0.5;
}
.navbar{
	height:70px !important;
	box-sizing:content-box;
	background-color:transparent !important;
	border-bottom:none;
	&-toggle{
		border:none;
		border-radius:0;
		background:#1b2a3e;
		margin-top:18px;
		.icon-bar{
			background-color:white !important;
		}
	}
	&-brand>svg{
		width:200px;
		height:80px;
		position:relative;
		top:-20px;

	}
	&-default .navbar-nav > li > a{
		color:white;
	}
}
#navbar-main{
	margin-top:20px;
	background-color:transparent !important;
}
#free-account-button{
	border-radius:100px;
	background-color:#4aa3df;
	transition:background .5s ease;
	color:white !important;
	&:hover{
		color:#4aa3df !important;
		background-color:white;
		border:2px solid #4aa3df;
		
	}
}
//svg filler
.filler{
	fill: white !important;
	
}
/*end of section: navigation*/
