/*section:navigation*/
#navbar-main{
	margin-top:15px;
	background-color:transparent !important;
}
.navigation{
	padding:10px 0 10px 0;
	margin:0 !important;
	max-height: 80px;
	z-index: 99;
	transition:padding .3s ease;
	&-ul>li>a{
		color:$fcolor-dark-background;
		padding:10px 10px;
		transition:all .3s ease; 
		text-align: center;
		&:hover,&:active,&:focus{
			background:inherit !important;
			
		}
	}

}
#free-account-button{
	background-color:#4aa3df;
	border:2px solid #4aa3df;
	transition:background .3s ease;
	color:white !important;
	&:hover{
		color:$main-blue !important;
		background-color:white;
		border:2px solid #4aa3df;
		
	}
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color:inherit;
    background-color:#f6f6f6;
	 opacity:0.5;
}
.navbar{
	height:70px !important;
	box-sizing:content-box;
	background-color:transparent !important;
	border-bottom:none;
	z-index: 200;
	&-toggle{
		border:none;
		border-radius:0;
		background:black;
		margin-top:18px;
		.icon-bar{
			background-color:white !important;
		}
	}
	&-brand>img{
		width:120px;
		height:60px;
		position:relative;
		top:-10px;

	}
	&-default .navbar-nav > li > a{
		color:white;
	}
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus{
	color:$fcolor-dark-background;
}

/*end of section: navigation*/
