/*section:payment*/
.payment{
	@include section-padding;
	&-title{
		width:100%;
		text-align:center;
		margin:0 0 20px 0;
		color:$fcolor-white-background;
		font-size:35px;
	}
	&-paragraph{
		width:100%;
		text-align:center;
		margin:0 0 50px 0;
		&:after{
			content:" ";
			width:100px;
			border-bottom:1px solid $fcolor-white-background;
			display:block;
			margin: 30px auto 50px auto;
			
		}
	}
	&-type{
		margin:0 0 30px 0;
		@media (min-width:0) and (max-width:992px){
			width:80%;
			display:block;
			margin:0 auto 30px auto;
		}
		ul>li{
		padding:0;	
		border-bottom:1px solid $dark-blue;
		border-left:1px solid $dark-blue;
		border-right:1px solid $dark-blue;
		text-align: center;
		line-height: 50px;
		color:$fcolor-white-background;
		}
	}
	&-cost{
		width:100%;
		height:160px;
		background-color:$dark-blue;
		&-title{
			color:$fcolor-dark-background;
			font-size:46px;
			font-weight: 300;
			text-transform: uppercase;
			margin:0;
			text-align: center;
			padding:25px 0 25px 0;

		}
		&-description{
			@include inliner;
			text-transform: capitalize;
			color:$fcolor-dark-background;
			margin:0;
			font-size:24px;
			font-weight: 300;
			opacity:0.8;
			
		}
	}
	&-currency, &-period{
		font-size:12px;
		font-weight: 300;
		color:$fcolor-dark-background;
		text-transform: lowercase;
	}
	&-holder{
		height:100px;
		background-color:$dark-blue;
		&-button{
			display:block;
			margin:0 auto;
			position:relative;
			top:25%;
			width:50%;
			height:50px;
			border:2px solid $main-blue;
			background:$main-blue;
			color:$fcolor-dark-background;
			text-transform: uppercase;
			transition:all .3s ease;
			&:hover{
				color:$fcolor-white-background;
				background:white;
				border:none;
			}
		}
	}
}
/*end of section:payment*/