/*variables*/
$border-color:#1B2B3B;
$main-blue:#4aa3df;
$dark-blue:#1b4d6e;
$fcolor-white-background:#727272;
$fcolor-dark-background:#FAFAFA;
/*end of variables*/
/*mixins*/

@mixin font-basic($size){
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 17px;
	
}
@mixin inliner{
	display: inline-block;
	width: 100%;
	text-align: center;
}
@mixin section-padding{
	padding: 90px 0 60px 0;
}

/*end of mixins*/
html,body{
	@include font-basic(1em);
	overflow-x:hidden;
}

ul,li{
	list-style-type:none;
	padding:0;
	margin-bottom:0;
}
a:hover, a:focus{
	text-decoration:none;
}
a:visited{
	color:white;
}
/*bootstrap overwriting*/
/*end of bootstrap overwriting*/
.body-animation{
	opacity:0;
	animation: body-animation 1s forwards;
	@keyframes body-animation{
		0%{
			opacity:0;
		}
		25%{
			opacity:0;
		}
		100%{
			opacity:1;
		}
	}
}

@font-face{
	font-family:fontello;
	src:url('../fonts/fontello-c12b9ac7/font/fontello.woff');
}
@import '../css/fontello.css';
@import 'navigation.scss';
@import 'login.scss';
@import 'feature.scss';
@import 'screens.scss';
@import 'payment.scss';
@import 'opinions.scss';
@import 'tutorial.scss';
@import 'why.scss';
@import 'contact.scss';
@import 'mediaqueries.scss','javascript.scss';
 