/*section:tutorial*/
.tutorial{
	@include section-padding;
	&-title{
		@extend .payment-title;
	}
	&-paragraph{
		width:100%;
		text-align:center;
		margin:0 0 20px 0;
		&:after{
			content:" ";
			width:100px;
			border-bottom:1px solid #1b2a3e;
			display:block;
			margin: 30px auto auto auto;
		}
	}
	&-box{
		&-title{
			margin:20px 0 10px 0;
		}
		&-paragraph{
			font-size:14px;
			line-height: 26px;
			margin:0 0 20px 0;
			
		}
		&-number{
			display:block;
			height:90px;
			position:absolute;
			left:10px;
			bottom:30px;
			font-size:90px;
			opacity:0.1;
			color:#1b2a3e;
		}
	}
}
/*end of section: tutorial*/