/*section:tutorial*/
.tutorial{
	@include section-padding;
	&-title{
		@extend .payment-title;
		color:$fcolor-white-background;
	}
	&-paragraph{
		width:100%;
		text-align:center;
		margin:0 0 20px 0;
		color:$fcolor-white-background;
		&:after{
			content:" ";
			width:100px;
			border-bottom:1px solid $fcolor-white-background;
			display:block;
			margin: 30px auto 50px auto;
		}
	}
	&-box{
		&-title{
			margin:20px 0 10px 0;
			color:$fcolor-white-background;
		}
		&-paragraph{
			font-size:14px;
			line-height: 26px;
			margin:0 0 20px 0;
			color:$fcolor-white-background;
		}
		&-number{
			display:block;
			height:90px;
			position:absolute;
			left:10px;
			bottom:30px;
			font-size:90px;
			opacity:0.15;
			color:$dark-blue;
		}
	}
}
/*end of section: tutorial*/